<a [routerLink]="['add']">add new book</a>

<div class="rowBorder">
<h2> Output without pipes </h2>
<table style="width:100%">
  <tr >
    <th> <h3>Title </h3></th>
    <th> <h3>Subtitle</h3></th> 
    <th> <h3>Author</h3></th>
    <th> <h3>isbn</h3></th>
  </tr>
  <tr  *ngFor="let book of allBooks()">
    <td> {{book.title}}</td>
    <td> {{book.subtitle}}</td> 
    <td> {{book.author}}</td>
    <td> <a [routerLink]="['/books', book.isbn]">{{book.isbn}}</a></td>
  </tr>
</table>
<div *ngIf="successmessage; else errormessage">
 <h3> {{successmessage}}</h3>
</div>
<ng-template #errormessage>
   <h3> {{error}}</h3>
</ng-template>
</div>
<div class="rowBorder">
<h2> Output with pipes </h2>
<table style="width:100%">
  <tr class="rowBorder">
    <th> <h3>Title </h3></th>
    <th> <h3>Subtitle</h3></th> 
    <th> <h3>Author</h3></th>
    <th> <h3>isbn</h3></th>
  </tr>
  <tr  *ngFor="let book of booksObservable | async">    
    <td> {{book.title}}</td>
    <td> {{book.subtitle}}</td> 
    <td> {{book.author}}</td>
    <td> <a [routerLink]="['/books', book.isbn]">{{book.isbn}}</a></td>
  </tr>
</table>

</div>
