<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Welcome</h3>
        </div>
        <div class="panel-body">
          <div class="text-center">
            <h1> Welcome </h1>
            <h2>to the website made by Angular 2/4 workshop</h2>
          </div>
          <br><br><br>
          <div class="text-left">
            <p>
              This site contains examples of code/html  presented during the Angular 2/4 Workshop occured on 11.05.2017-13.05.2017 at adesso-Dortmund.
            </p>
            <p>
              The main part of code was written during Workshop. Laterly Bootstrap-library was inserted and the whole app was splitted in modules.
            </p>
            <p>
              Please choose one of the modules in menu, to look at examples.
            </p>
          </div>          
        </div>
        <div class="panel-footer text-left">Copyrights: Free to use</div>
      </div>

    </div>
  </div>
</div>