
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h3 class="text-left">
          <p>{{title}}</p>
          <p><small>{{subtitle}}</small></p> 
        </h3>
      </div>      
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs">
        <li role="presentation" ><a href="/">Home</a></li>
        <li role="presentation"><a href="/hide-n-show">Hide and Show</a></li>
        <li role="presentation"><a href="/mouse-in-the-box">Mouse in the box</a></li>
        <li role="presentation"><a href="/input-and-output">@Input and @Output</a></li>
        <li role="presentation"><a href="/books">Books App</a></li>        
      </ul>
    </div>
  </div>
</div>
<br>
<div>
  <router-outlet></router-outlet>
<div>