<div class="container-fluid">

  <div class="row">
    <div class="col-sm-2">
      <a href="/books"> <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to booklist</a>
    </div>    
    <div class="col-sm-10">
      <div *ngIf="success" class="alert alert-success" role="alert">{{success}}</div>
      <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>
    </div>
  </div>   

  <div class="row">
    <div class="col-sm-12">

      <form *ngIf="book" #form="ngForm" class="form-horizontal">

      <div class="form-group">
        <label for="inputISBN" class="col-sm-2 control-label">ISBN:</label>
        <div class="col-sm-10">
          <input type="text" 
            class="form-control" 
            name="isbn"
            [(ngModel)]="book.isbn"
            #isbn="ngModel" 
            id="inputISBN" 
            placeholder="isbn"
            required>
        </div>
        <div class="col-sm-2"></div>
        <div [hidden]="!isbn.errors?.required || isbn.pristine" style="color:red">
          ISBN is required
        </div>
      </div>   

      <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">Title:</label>
        <div class="col-sm-10">
          <input type="text" 
            class="form-control" 
            name="title"
            [(ngModel)]="book.title"
            #title="ngModel" 
            id="inputTitle" 
            placeholder="Please enter a title of a book here"
            required>
        </div>
        <div class="col-sm-2"></div>
        <div [hidden]="!title.errors?.required || title.pristine" style="color:red">
          Title is required
        </div>
      </div>   

      <div class="form-group">
        <label for="inputSubtitle" class="col-sm-2 control-label">Subtitle:</label>
        <div class="col-sm-10">
          <input type="text" 
            class="form-control" 
            name="subtitle"
            [(ngModel)]="book.subtitle"
            #subtitle="ngModel" 
            id="inputSubtitle" 
            placeholder="Please enter a subtitle of a book here">
        </div>
      </div>  

      <div class="form-group">
        <label for="inputAuthor" class="col-sm-2 control-label">Authors:</label>
        <div class="col-sm-10">
          <input type="text" 
            class="form-control" 
            name="author"
            [(ngModel)]="book.author"
            #author="ngModel" 
            id="inputAuthor" 
            placeholder="Please enter a author of a book here">
        </div>
      </div>

      <div class="form-group">
        <label for="inputAbstract" class="col-sm-2 control-label">Abstract:</label>
        <div class="col-sm-10">
          <input type="text" 
            class="form-control" 
            name="abstract"
            [(ngModel)]="book.abstract"
            #abstract="ngModel" 
            id="inputAbstract" 
            placeholder="Please enter a abstract of a book here">
        </div>
      </div>

      <div class="row">  
        <div class="col-sm-2"></div>
        <div  class="col-sm-10">
          <button class="btn btn-primary" type="submit" [disabled]="!form.valid" (click)=save()> Save a book</button>
          <button class="btn btn-primary" type="submit" [disabled]="!form.valid" (ngSubmit)="saveBook(form.value)"> Save the form</button>
        </div>
      </div>

      <br>


      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="panel-title">Book Form Content</h5>
            </div>
            <div class="panel-body">
              <div class="well"> <pre>{{form.value|json}}</pre> </div>
              <div *ngIf="form.valid" class="alert alert-success" role="alert">This form is valid</div>
              <div *ngIf="!form.valid" class="alert alert-danger" role="alert">The form is inValid</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="panel-title">Book Entity Content</h5>
            </div>
            <div class="panel-body">
              <div *ngIf="book" class="well"> <pre >{{book|json}}</pre> </div>
              <div *ngIf="!book" class="alert alert-danger" role="alert">Book is empty!</div>
            </div>
          </div>          
        </div>
      </div>

<!--
      <div class="well"> 
      <pre>{{form.value|json}}</pre>
      {{form.valid}}      
      </div>


        ISBN:
        <input
          type="text"
          style='width:500px'
          [(ngModel)]="book.isbn" 
          name="isbn"
          required
          #isbn="ngModel">
        <div [hidden]="!isbn.errors?.required || isbn.pristine">
          ISBN is required
        </div>
        
        <br>
        Title:  
        <input
          type="text"
          style='width:500px'
          [(ngModel)]="book.title" 
          name="title"
          required
          #title="ngModel">
        <div [hidden]="!title.errors?.required || title.pristine">
          Title is required
        </div>
        <br>
        
        Subtitle:
        <input
          type="text"
          style='width:500px'
          [(ngModel)]="book.subtitle" 
          name="subtitle"
          required
          #subtitle="ngModel">
        <div [hidden]="!subtitle.errors?.required || subtitle.pristine">
          Subtitle is required
        </div>
        <br>
        
        Author: 
        <input
          type="text"
          style='width:500px'
          [(ngModel)]="book.author" 
          name="author"
          required
          #author="ngModel">
        <div [hidden]="!author.errors?.required || author.pristine">
          Author is required
        </div>
        <br>
-->        

      </form>

<!--      
      <div *ngIf="message" style="color: green"> {{message}}</div>
      <div *ngIf="error" style="color: red"> {{message}}</div>
-->

    </div>
  </div>
</div>